.client-profile-card {
  padding: 20px;
  color: var(--main-text);
  background-color: var(--main-bg-light);
  border-radius: 4px;
  box-shadow: 1px 3px 16px 0 rgba(55, 73, 87, 0.08);

  &.is-valid {
    & .client-profile-card__name {
      &>span {
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M7.85226 0.422712C8.51363 -0.140903 9.48637 -0.140904 10.1477 0.422711L11.4894 1.56604C11.7728 1.80756 12.1252 1.95353 12.4963 1.98315L14.2535 2.12337C15.1197 2.19249 15.8075 2.88032 15.8766 3.74651L16.0169 5.50365C16.0465 5.87484 16.1924 6.22722 16.434 6.51063L17.5773 7.85226C18.1409 8.51363 18.1409 9.48637 17.5773 10.1477L16.434 11.4894C16.1924 11.7728 16.0465 12.1252 16.0169 12.4963L15.8766 14.2535C15.8075 15.1197 15.1197 15.8075 14.2535 15.8766L12.4964 16.0169C12.1252 16.0465 11.7728 16.1924 11.4894 16.434L10.1477 17.5773C9.48637 18.1409 8.51363 18.1409 7.85226 17.5773L6.51063 16.434C6.22722 16.1924 5.87484 16.0465 5.50365 16.0169L3.74651 15.8766C2.88032 15.8075 2.19249 15.1197 2.12337 14.2535L1.98315 12.4964C1.95353 12.1252 1.80756 11.7728 1.56604 11.4894L0.422712 10.1477C-0.140903 9.48637 -0.140904 8.51363 0.422711 7.85226L1.56604 6.51063C1.80756 6.22722 1.95353 5.87484 1.98315 5.50365L2.12337 3.74651C2.19249 2.88032 2.88032 2.19249 3.74651 2.12337L5.50365 1.98315C5.87484 1.95353 6.22722 1.80756 6.51063 1.56604L7.85226 0.422712Z' fill='%230D7ED6'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.2792 6.31381C13.59 6.62492 13.5898 7.1291 13.2787 7.43992L8.67369 12.0407C8.36278 12.3513 7.859 12.3513 7.5481 12.0407L5.07504 9.56989C4.76393 9.25907 4.76369 8.75489 5.07452 8.44378C5.38534 8.13267 5.88952 8.13244 6.20063 8.44326L8.11089 10.3518L12.1531 6.31329C12.4642 6.00246 12.9684 6.0027 13.2792 6.31381Z' fill='white'/%3E%3C/svg%3E");
        }
      }
    }
  }

  &__name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;

    &>span {
      &::after {
        content: '';
        display: inline-block;
        margin-left: 10px;
        width: 18px;
        height: 18px;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M7.85226 0.422712C8.51363 -0.140903 9.48637 -0.140904 10.1477 0.422711L11.4894 1.56604C11.7728 1.80756 12.1252 1.95353 12.4963 1.98315L14.2535 2.12337C15.1197 2.19249 15.8075 2.88032 15.8766 3.74651L16.0169 5.50365C16.0465 5.87484 16.1924 6.22722 16.434 6.51063L17.5773 7.85226C18.1409 8.51363 18.1409 9.48637 17.5773 10.1477L16.434 11.4894C16.1924 11.7728 16.0465 12.1252 16.0169 12.4963L15.8766 14.2535C15.8075 15.1197 15.1197 15.8075 14.2535 15.8766L12.4964 16.0169C12.1252 16.0465 11.7728 16.1924 11.4894 16.434L10.1477 17.5773C9.48637 18.1409 8.51363 18.1409 7.85226 17.5773L6.51063 16.434C6.22722 16.1924 5.87484 16.0465 5.50365 16.0169L3.74651 15.8766C2.88032 15.8075 2.19249 15.1197 2.12337 14.2535L1.98315 12.4964C1.95353 12.1252 1.80756 11.7728 1.56604 11.4894L0.422712 10.1477C-0.140903 9.48637 -0.140904 8.51363 0.422711 7.85226L1.56604 6.51063C1.80756 6.22722 1.95353 5.87484 1.98315 5.50365L2.12337 3.74651C2.19249 2.88032 2.88032 2.19249 3.74651 2.12337L5.50365 1.98315C5.87484 1.95353 6.22722 1.80756 6.51063 1.56604L7.85226 0.422712Z' fill='%23FA6009'/%3E%3Cpath d='M7.26508 6.31161C6.95426 6.0005 6.45008 6.00027 6.13897 6.31109C5.82786 6.62191 5.82762 7.12609 6.13845 7.4372L7.87599 9.17636L6.13681 10.9139C5.8257 11.2248 5.82546 11.7289 6.13629 12.04C6.44711 12.3512 6.95129 12.3514 7.2624 12.0406L9.00158 10.303L10.7392 12.0422C11.05 12.3533 11.5542 12.3536 11.8653 12.0427C12.1764 11.7319 12.1766 11.2277 11.8658 10.9166L10.1282 9.1774L11.8674 7.43983C12.1785 7.129 12.1787 6.62483 11.8679 6.31371C11.5571 6.0026 11.0529 6.00237 10.7418 6.31319L9.00263 8.05077L7.26508 6.31161Z' fill='white'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transform: translateY(2px);
      }
    }
  }

  &__fields {
    display: grid;
    row-gap: 25px;
    margin-bottom: 30px;
  }

  &__field {
    display: grid;
    row-gap: 8px;
  }

  &__label {
    font-size: 14px;
    font-weight: 500;
    color: var(--accent);
  }

  &__edit-btn {
    width: 100%;
  }
}
