.head-cell {
  --label-color: var(--gray);
  --border: #EBEBEB;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__label {
    font-size: 12px;
    font-weight: 600;
    color: var(--label-color);
    flex-grow: 1;

  }

  &__sort {
    width: 18px;
    text-align: right;
    flex-shrink: 0;

    & .head-cell__sort-icon {
      &--default {
        display: inline;
      }

      &--up {
        display: none;
      }

      &--down {
        display: none;
      }
    }

    &--down {
      & .head-cell__sort-icon {
        &--up {
          display: none;
        }

        &--default {
          display: none;
        }

        &--down {
          display: inline;
        }
      }
    }

    &--up {
      & .head-cell__sort-icon {
        &--up {
          display: inline;
        }

        &--default {
          display: none;
        }

        &--down {
          display: none;
        }
      }
    }
  }

  &__form {
    flex-basis: 100%;
    margin-top: 12px;
  }

  &__field {
    --input-fz: 12px;
    --input-offset: 4px 6px;
    --input-border: var(--border);

    background-position: center right 6px;
    background-size: 12px 12px;

    &--search {
      &:placeholder-shown {
        padding-right: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8264 11.4235L9.15695 8.73182C9.87883 7.77868 10.2117 6.5874 10.0883 5.39859C9.96497 4.20978 9.39457 3.11203 8.49233 2.32706C7.5901 1.5421 6.42326 1.12841 5.22751 1.16955C4.03175 1.21069 2.89617 1.7036 2.05014 2.54872C1.20411 3.39384 0.710675 4.52819 0.669489 5.72266C0.628303 6.91713 1.04244 8.08271 1.82825 8.98397C2.61407 9.88524 3.713 10.455 4.90309 10.5783C6.09318 10.7015 7.28574 10.369 8.23991 9.64788L10.9094 12.3145C10.9678 12.3733 11.0372 12.42 11.1138 12.4518C11.1903 12.4837 11.2724 12.5001 11.3553 12.5001C11.4383 12.5001 11.5204 12.4837 11.5969 12.4518C11.6734 12.42 11.7429 12.3733 11.8013 12.3145C11.8619 12.2578 11.9106 12.1898 11.9446 12.1142C11.9787 12.0386 11.9974 11.9571 11.9998 11.8742C12.0021 11.7914 11.988 11.7089 11.9582 11.6316C11.9285 11.5542 11.8837 11.4835 11.8264 11.4235ZM5.4134 9.35926C4.73014 9.35926 4.06222 9.15687 3.49411 8.77768C2.92601 8.39849 2.48322 7.85953 2.22175 7.22896C1.96027 6.59839 1.89186 5.90453 2.02516 5.23512C2.15846 4.56571 2.48748 3.95081 2.97061 3.4682C3.45375 2.98558 4.06931 2.65691 4.73944 2.52376C5.40957 2.3906 6.10418 2.45894 6.73543 2.72013C7.36668 2.98132 7.90621 3.42364 8.28581 3.99113C8.66541 4.55863 8.86802 5.22583 8.86802 5.90835C8.86636 6.82308 8.50186 7.69987 7.85435 8.34668C7.20684 8.99349 6.32911 9.3576 5.4134 9.35926Z' fill='%230D7ED6'/%3E%3C/svg%3E");
      }
    }

    &--select {
      padding-right: 20px;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.49994 5H2.50004C2.36453 5 2.24739 5.04398 2.14842 5.13186C2.04945 5.21984 2 5.32397 2 5.44434C2 5.56472 2.04945 5.66893 2.14842 5.75686L5.64838 8.86797C5.74746 8.95595 5.86461 9 6 9C6.13539 9 6.25265 8.95595 6.35154 8.86797L9.8515 5.75683C9.95036 5.66892 10 5.56472 10 5.44432C10 5.32397 9.95039 5.21984 9.8515 5.13183C9.75261 5.04388 9.63536 5 9.49994 5Z' fill='%230D7ED6'/%3E%3C/svg%3E");
    }

    &--date {
      padding-right: 20px;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 1.5H9V1C9 0.867392 8.94732 0.740215 8.85355 0.646447C8.75979 0.552678 8.63261 0.5 8.5 0.5C8.36739 0.5 8.24021 0.552678 8.14645 0.646447C8.05268 0.740215 8 0.867392 8 1V1.5H4V1C4 0.867392 3.94732 0.740215 3.85355 0.646447C3.75979 0.552678 3.63261 0.5 3.5 0.5C3.36739 0.5 3.24021 0.552678 3.14645 0.646447C3.05268 0.740215 3 0.867392 3 1V1.5H2.5C1.8372 1.50079 1.20178 1.76444 0.73311 2.23311C0.264441 2.70178 0.000793929 3.3372 0 4L0 10C0.000793929 10.6628 0.264441 11.2982 0.73311 11.7669C1.20178 12.2356 1.8372 12.4992 2.5 12.5H9.5C10.1628 12.4992 10.7982 12.2356 11.2669 11.7669C11.7356 11.2982 11.9992 10.6628 12 10V4C11.9992 3.3372 11.7356 2.70178 11.2669 2.23311C10.7982 1.76444 10.1628 1.50079 9.5 1.5ZM1 4C1 3.60218 1.15804 3.22064 1.43934 2.93934C1.72064 2.65804 2.10218 2.5 2.5 2.5H9.5C9.89782 2.5 10.2794 2.65804 10.5607 2.93934C10.842 3.22064 11 3.60218 11 4V4.5H1V4ZM9.5 11.5H2.5C2.10218 11.5 1.72064 11.342 1.43934 11.0607C1.15804 10.7794 1 10.3978 1 10V5.5H11V10C11 10.3978 10.842 10.7794 10.5607 11.0607C10.2794 11.342 9.89782 11.5 9.5 11.5Z' fill='%230D7ED6'/%3E%3Cpath d='M6 8.75C6.41421 8.75 6.75 8.41421 6.75 8C6.75 7.58579 6.41421 7.25 6 7.25C5.58579 7.25 5.25 7.58579 5.25 8C5.25 8.41421 5.58579 8.75 6 8.75Z' fill='%230D7ED6'/%3E%3Cpath d='M3.5 8.75C3.91421 8.75 4.25 8.41421 4.25 8C4.25 7.58579 3.91421 7.25 3.5 7.25C3.08579 7.25 2.75 7.58579 2.75 8C2.75 8.41421 3.08579 8.75 3.5 8.75Z' fill='%230D7ED6'/%3E%3Cpath d='M8.5 8.75C8.91421 8.75 9.25 8.41421 9.25 8C9.25 7.58579 8.91421 7.25 8.5 7.25C8.08579 7.25 7.75 7.58579 7.75 8C7.75 8.41421 8.08579 8.75 8.5 8.75Z' fill='%230D7ED6'/%3E%3C/svg%3E");
    }
  }
}
