.commentary {
  position: relative;
  color: var(--main-text);
  background-color: var(--main-bg-light);
  border: 1px solid var(--border);
  border-radius: 4px;
  box-shadow: 1px 3px 16px 0 rgba(55, 73, 87, 0.08);

  & .cross-icon,
  & .pin-icon {
    display: inline;
  }

  &--pinned {
    & .commentary__controls-btn--pin {
      color: var(--accent);
      opacity: 1;
    }

    & .pin-icon {
      display: none;
    }

    & .pin-active-icon {
      display: inline;
    }
  }

  &--hide {
    filter: grayscale(1) opacity(0.7);

    & .commentary__controls-btn--pin {
      display: none;
    }

    & .commentary__controls-btn {
      opacity: 1;

      & svg {
        width: 16px;
        height: 16px;
      }
    }

    & .cross-icon {
      display: none;
    }

    & .refresh-icon {
      display: inline;
    }
  }

  &__body {
    padding: 20px;
    padding-right: 24px;
    font-size: 18px;

    @include cms-text;
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    padding-left: 54px;
    font-size: 14px;
    background-color: var(--blue5);
  }

  &__date {
    font-weight: 500;
    opacity: 0.8;
  }

  &__author {
    color: var(--accent);
  }

  &__controls-btn {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    opacity: 0.6;

    &--hint {
      right: 6px;
      top: 6px;
      width: 18px;
      height: 18px;
      transition: opacity 0.1s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    &--pin {
      left: 20px;
      bottom: 12px;
    }

    & use {
      display: none;
    }
  }
}
